.header{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sort-button{
  width: 5rem;
  font-size: 1rem;
  height: 2rem;
  border-radius: 0.2rem;
}

.sort-options{
  right: 0;
  top:4rem;
  position: absolute;
  display: block;
  /* min-width: 20rem; */
}

.sort-options button{
  display: block;
  min-width: 12rem;
}